.icon-border {
    display: inline-block;
    padding: 18px;
    border: 4px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite, borderColorChange 2s linear infinite;
}

@keyframes borderColorChange {
    0% {
        border-color: red;
    }

    33% {
        border-color: orange;
    }

    66% {
        border-color: yellow;
    }

    100% {
        border-color: red;
    }
}

.chocolate-drip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(#6b3a14, #3b1d07);
    z-index: 20;
}

    .chocolate-drip::after {
        content: "";
        position: absolute;
        top: 35px;
        left: 10%;
        width: 25px;
        height: 40px;
        background: #4a250a;
        border-radius: 50px;
        box-shadow: 60px 10px #4a250a, 120px 0px #4a250a, 180px 15px #4a250a, 240px 5px #4a250a;
    }